@import url(https://fonts.googleapis.com/css?family=Roboto:100&display=swap);

.App {
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
}

.App-header {
  text-align: right;

  h1, p {
    font-size: 1em;
    margin: 1em;
  }

  .App-intro {
    margin-bottom: 5em;
  }

  a {
    color: #333333;
  }
  a.ninja {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.App-image {
  background-image: url("./splash.jpg");
  background-position: center;
  background-size: cover;

  width: 100vw;
  height: 100vh;
}

img.logo {
  display: inline-block;
  height: 1.5em;
  margin-bottom: 0.5em;
}

.soc a, svg {
    display: inline-block;
}
.soc a {
    position: relative; // IE8
    height: 10px; // IE8
    height: 1em;
    width: 10px; // IE8
    width: 1em;
    margin-left: 1em;
}
.soc svg {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
  .App {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	align-items: stretch;
  	align-content: stretch;
  }

  .App-header {
    width: 50vw;
    height: auto;
    margin: auto 0;
  }

  .App-image {
    height: 100vh;
    width: 50vw;
    background-position: center;
    background-size: cover;
  }
}
